.adminButtonGroup{
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    float: top;
    height: 50px;

}

.excelInput {
    width: 300px;
}

.excelSubmit {
    margin-top: -55px;
    margin-left: 310px;
}

.adminPage {
    max-width: 98%;
    position: center;
    margin: 0 auto;
}