hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.unmappedCourse {
    margin-left: 10px;   
}
.unmappedCourseText {
    font-size: 13;
    padding-top: 5px;
}


