.loginForm {
  margin-left: 15px;
}

.loginInput {
  width: 300px;
}
.loginWrapper {
  width: 325px;
  margin-left: 15px;
}
.loginSubmit {
  float: left;
  margin-top: 15px;
}

.registerSubmit {
  float: left;
  margin-left: 5px;
  margin-top: 15px;
}

.captcha {
  margin-top: 15px;
}
