.loginForm {
    margin-left: 15px;
  }
  
  .loginInput {
    width: 300px;
  }
  .loginWrapper {
    margin-left: 15px;
    max-width: 1146px;
    margin: 0 auto;
  }
  .loginSubmit {
    float: left;
    margin-top: 15px;
  }
  
  .registerSubmit {
    float: left;
    margin-left: 5px;
    margin-top: 15px;
  }
  
  .captcha {
    margin-top: 15px;
  }
  
  .message {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: red;
  }