* {box-sizing: border-box;}

.wrapper {
    position: relative;
    max-height: 88vh;
    border: 2px solid #a6a6a6;
    border-radius: 5px;
    background-color: #f2f2f2;
    overflow: auto;
}

.wrapper > div {
    /* border: 2px solid #ffa94d; */
    /* border-radius: 5px; */
    /* background-color: #ffd8a8; */
    padding: 2;
    color: #d9480f;
}
.wrapper {
  /* margin: auto;   */
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 5px;
    grid-auto-rows: 60px;
    grid-auto-columns: 60px;
    grid-template-areas: 
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  nb tb .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  ub sb .  rb .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  qb .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  pb .  .  .  .  .  ob .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  mb .  .  .  .  .  .  ma .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  jb lb .  va .  Da .  . ya  za .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  kb ib .  sa .  .  la . wa  .  .  Ca .  Bb .  .  .  ."
    ".  .  .  .  .  .  .  .  hb .  .  .  .  .  .  ta Ea .  .  Oa .  .  .  ."
    ".  .  .  .  .  fb eb .  .  ra pa .  ia Ba .  .  .  Aa Fa .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  aa .  ba ga .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  cb bb .  Ia .  .  ea .  fa .  .  Ka Ma Na .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  ua ca .  da .  na .  .  La .  .  .  .  ."
    ".  .  .  .  .  .  .  Wa Ua Sa ja .  .  .  ha .  Ga .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  Va .  .  ka qa .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  oa .  .  .  Ha .  vb .  yb zb .  .  .  ."
    ".  .  .  .  .  .  .  .  .  Ya .  Ta xa .  .  .  .  wb .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  Za .  .  .  .  .  .  xb .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  ."
    ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .";
    align-items: start;
}
/* Perusopinnot */
.ohpe {
    grid-area: aa;
}
.ohja {
    grid-area: ba;
}
.tito {
    grid-area: ca;
}
.tikape {
    grid-area: da;
}
.jtkt {
    grid-area: ea;
}

/* Aineopinnot */
.tira {
    grid-area: fa;
}
.tiraLabra {
    grid-area: ga;
}
.lama {
    grid-area: ha;
}
.otm {
    grid-area: ia;
}
.kaja {
    grid-area: ja;
}
.tilpe {
    grid-area: ka;
}
.ohtu {
    grid-area: la;
}
.ohtupr {
    grid-area: ma;
}
.jtka {
    grid-area: na;
}
.ttpe {
    grid-area: oa
}
.tikapeLabra {
    grid-area: pa
}
.tilpeLabra {
    grid-area: qa
}
.tisu {
    grid-area: ra
}
.igp {
    grid-area: sa
}
.ruby {
    grid-area: ta
}
.tito2 {
    grid-area: ua
}
.otjs {
    grid-area: va
}
.wepa {
    grid-area: wa
}
.c {
    grid-area: xa
}
.fssk {
    grid-area: ya
}
.fsskLabra {
    grid-area: za
}
.alon {
    grid-area: Aa
}
.roha {
    grid-area: Ba
}
.ifp {
    grid-area: Ca
}
.vh {
    grid-area: Da
}
.rubyLabra {
    grid-area: Ea
}
.kilpa {
    grid-area: Fa
}
.eai {
    grid-area: Ga
}
.ilc {
    grid-area: Ha
}
.ssh {
    grid-area: Ia
}
/* Syventävät opinnot */
.cscol {
    grid-area: Ja
}
.daa {
    grid-area: Ka
}
.dct {
    grid-area: La
}
.ra1 {
    grid-area: Ma
}
.ra2 {
    grid-area: Na
}
.bisa {
    grid-area: Oa
}
.seea {
    grid-area: Pa
}
.sepa {
    grid-area: Qa
}
.seada {
    grid-area: Ra
}
.disy {
    grid-area: Sa
}
.ness {
    grid-area: Ta
}
.inpr {
    grid-area: Ua
}
.cec {
    grid-area: Va
}
.son {
    grid-area: Wa
}
.scbmn {
    grid-area: Xa
}
.cin {
    grid-area: Ya
}
.cyse2 {
    grid-area: Za
}
.socs {
    grid-area: ab
}
.seec {
    grid-area: bb
}
.sewm {
    grid-area: cb
}
.scic {
    grid-area: db
}
.hoi {
    grid-area: eb
}
.desis {
    grid-area: fb
}
.sathci {
    grid-area: gb
}
.oat {
    grid-area: hb
}
.mfse {
    grid-area: ib
}
.oahLabra {
    grid-area: jb
}
.spm {
    grid-area: kb
}
.ojr {
    grid-area: lb
}
.sfex {
    grid-area: mb
}
.sese {
    grid-area: nb
}
.ohte {
    grid-area: ob
}
.ohkipe {
    grid-area: pb
}
.compilers {
    grid-area: qb
}
.coge {
    grid-area: rb
}
.sojt {
    grid-area: sb
}
.snsad {
    grid-area: tb
}
.sbdm {
    grid-area: ub
}
.ids {
    grid-area: vb
}
.iml {
    grid-area: wb
}
.adcml {
    grid-area: xb
}
.ibdm {
    grid-area: yb
}
.idv {
    grid-area: zb
}
.sdlnp {
    grid-area: Ab
}
.lmmobi {
    grid-area: Bb
}
.smlmfda {
    grid-area: Cb
}