#legendBtn {
  position: absolute; /* Fixed/sticky position */
  top: 5px; /* Place the button at the top */
  right: 5px; /* Place the button x pixels from right */
  z-index: 99; /* Make sure it does not overlap */
  border: 1px solid #a6a6a6; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 3px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

.btn-primary {
  color: rgb(58, 54, 54);
  background-color: rgb(252, 247, 247);
  /*border-color: rgb(63, 61, 61); /*set the color you want here*/
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: rgb(58, 54, 54);
  background-color: rgb(252, 247, 247);
  /*border-color: rgb(63, 61, 61); /*set the color you want here*/
}