#matriceSelect {
    position: relative; /* Fixed/sticky position */
    top: 5px; 
    left: 5px;
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid #a6a6a6;
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 3px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
}

.dropdown-menu {
    position: absolute;
    
    left: 3px;
    z-index: 1000;
    display: none;
    float: left;
}
 
.matriceSelect > null {
    position: absolute;
}