.btn-primary {
    background-color: rgb(252, 247, 247);
    color: rgb(58, 54, 54);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: rgb(58, 54, 54);
    background-color: rgb(58, 54, 54);
}

#periodSelect {
    position: absolute; /* Fixed/sticky position */
    top: 5px; /* Place the button at the top */
    right: 45px; /* Place the button 30px from the left */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid #a6a6a6; /* Remove borders */
    outline: none; /* Remove outline */

    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
}

